- 
    let lang = null
    let title = null
    let style = null
    let desc = null
    let kw = null
    let fav = false;
block Vars
doctype html
html(lang=lang)
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        //- description
        if (desc) 
            meta(name="description", content=desc)
        
        //- keywords
        if (kw)
            meta(name="keywords", content=kw)
        
        //- title
        if (title)
            title= title
        
        //- css
        if (style)
            link(rel="stylesheet", href=`css/${style}.min.css`)
        
        //- favicon
        if (fav) 
            link(rel="shortcut icon", href="img/favicon.ico", type="image/x-icon")
        
    body
        .wrapper
            block Page 
        script(src="js/app.min.js")